.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.custom-table th {
    background-color: #f2f2f2;
}
