{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>All Questions</h2>
    <ul>
        <li style="list-style-type: none"><a href="{{ url_for('add_question') }}" class="btn btn-success">Add Question</a></li>
    </ul>
    <form action="{{ url_for('manage_questions') }}" method="get" class="mb-3">
        <label for="type">Select Question Type:</label>
        <select name="type" id="type" class="form-select" onchange="this.form.submit()">
            <option value="all" {% if selected_type == 'all' %}selected{% endif %}>All</option>
            <option value="type1" {% if selected_type == 'type1' %}selected{% endif %}>Type I</option>
            <option value="type2" {% if selected_type == 'type2' %}selected{% endif %}>Type II</option>
        </select>
    </form>
    
    <table class="custom-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Question Type</th>
                <th>Question Text</th>
                <th>Options</th>
                <th>Correct Answer</th>
                <th>Feedback</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.question_type }}</td>
                <td>{{ question.question_text }}</td>
                <td>
                    {% if question.question_type=='Type1' %}
                    A: {{ question.option_a }}<br>
                    B: {{ question.option_b }}<br>
                    C: {{ question.option_c }}<br>
                    D: {{ question.option_d }}
                    {% endif %}
                    {% if question.question_type=='Type2' %}

                    {% endif %}
                </td>
                <td>
                    {% if question.question_type=='Type1' %}
                    {{ question.correct_option }}
                    {% endif %}

                    {% if question.question_type=='Type2' %}
                    {{ question.correct_answer }}
                    {% endif %}
                </td>
                <td>{{ question.feedback }}</td>
                <td>
                    <a href="{{ url_for('edit_question', question_id=question.id) }}" class="btn btn-primary">Edit</a>
                    <form action="{{ url_for('delete_question', question_id=question.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
