{% extends "base.html" %}

{% block content %}
<h2>Teacher Dashboard</h2>
<ul>
    <!-- <li><a href="{{ url_for('add_question') }}" class="btn btn-success">Add Question</a></li> -->
    <li><a href="{{ url_for('manage_questions') }}" class="btn btn-success">Manage Questions</a></li>
    <!-- <li><a href="{{ url_for('add_assessment') }}" class="btn btn-success">Add Assessment</a></li> -->
    <li><a href="{{ url_for('manage_assessments') }}" class="btn btn-success">Manage Assessments</a></li>
    
</ul>

<h3>Assessments</h3>
<ul>
    {% for assessment in assessments %}
    <li>{{ assessment.name }}</li>
    {% endfor %}
</ul>
{% endblock %}
